

/*- Style Sheet for Life Saving -*/


/*- Font Faces -*/
@font-face {
  font-family: "oldPrint";
  src: url("../FONTS/Hoefler Text.ttc") format("truetype");
}


/*- Overall Page Formatting -*/
* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html, body
{
	width:1280px;
	height:1024px;
	background-color:black;
	background-repeat:no-repeat;
	font-size:16pt;
	color:white;
	background-image:url('../IMAGES/Screen3_2.png');
}

body.wholeMap {
	background-image:url('../IMAGES/Screen1.png');
}

h2 {
	font-size:22px;
	margin-bottom:10px;
	margin-top:10px;
}

p {
	margin-left:10px;
}



.hidden
{
	display:none;
}

.mapTitle {
	top:120px;
	left:-1280px;
	position:absolute;
	width:1280px;
	height:316px;
	z-index:3;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Bookmark.png');
	color:white;
	
}

.excerptTitle {
	position:absolute;
	top: 35px;
	left:0;
	width:1280px;
	height:100px;
	text-align:center;
	font-size:72px;
	color:#dbd4b6;
	text-shadow:1px 1px 10px black, -1px -1px 40px #636e5a, -1px -1px 60px #cdd6c5;
	opacity:0;
	font-family:"oldPrint";
}

.mapTitle h1 {
	font-size:4em;
	margin-left:200px;
	margin-top: 75px;
	color:white;
}

.btmDiv {
	top:850px;
	position:absolute;
	width:1280px;
	height:150px;
	z-index:3;
}

.backBttn {
	width:201px;
	height:81px;
	margin-top:33px;
	margin-left:25px;
	float:left;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/BackArrow.png');
	pointer-events:all;
}

.backBttn:active {
	background-image:url('../IMAGES/BackArrow_Touched.png');
}

.nextBttn {
	width:1280px;
	height:1024px;
	position:absolute;
	top:10px;
	left:10px;
	opacity:0;
	z-index:2;
	background-repeat:no-repeat;
}

.nextBttn.Superior {
	background-image:url('../IMAGES/Screen2Superior.png');
}

.nextBttn.Michigan {
	background-image:url('../IMAGES/Screen2Michigan.png');
}

.nextBttn.Huron {
	background-image:url('../IMAGES/Screen2Huron.png');
}

.nextBttn.Erie {
	background-image:url('../IMAGES/Screen2Erie.png');
}

.nextBttn.Ontario {
	background-image:url('../IMAGES/Screen2Ontario.png');
}


/* Lake Selectors on Map */
.mapBttn {
	width:240px;
	height:180px;
	position:absolute;
	z-index:3;
	background-color:transparent;
	opacity:0.75;
}

.mapBttn.Superior {
	top:120px;
	left:100px;
	width:500px;
	height:230px;
}

.mapBttn.Michigan {
	top:380px;
	left:330px;
	height:460px;
}

.mapBttn.Huron {
	top:380px;
	left:600px;
	width:330px;
	height:325px;
}

.mapBttn.Erie {
	top:725px;
	left:700px;
	height:150px;
	width:320px;
}

.mapBttn.Ontario {
	top:550px;
	left:955px;
	height:150px;
	width:260px;
}

.adaBttn {
	width:63px;
	height:67px;
	margin-top:40px;
	margin-right:25px;
	float:right;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Handicap.png');
	pointer-events:all;
}

.adaBttn:active {
	background-image:url('../IMAGES/Handicap_Touched.png');	
}


/* Report Details Screen */
.dateContainer {
	width:478px;
	height: 650px;
	position:absolute;
	top:225px;
	left:-460px;
	opacity:0;
	padding:0px;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Ribbon5.png');
	overflow:visible;
	pointer-events:none;
}

.dates {
	color:#dbd4b6;
	margin-left:5px;
	pointer-events:none;
	padding-right:20px;
}

.reports {
	width:745px;
	height: 855px;
	position:absolute;
	top:150px;
	left: 475px;
	opacity:1;
	color:black;
	font-family: "oldPrint";
}

.report p {
	font-family: "oldPrint";
	font-size:1.35em;
	padding:25px;
}

.report img {
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.summary {
	z-index:10;
	line-height:1em;
	margin-top:25px;
	margin-bottom:75px;
	pointer-events:all;
	font-family: "oldPrint";
}

.summary.selected {
	text-shadow:0px 0px 7px #636e5a;
	color:#FFFAB5;
	pointer-events:all;
}

.summary:last-child {
	margin-bottom:560px;
}

.disableClick {
	pointer-events:none;
}

