
/*- Style Sheet for Life Saving -*/


/*- Font Faces -*/
@font-face {
    font-family: 'times';
    src: url('../FONTS/times-webfont.eot');
    src: url('../FONTS/times-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FONTS/times-webfont.woff') format('woff'),
         url('../FONTS/times-webfont.ttf') format('truetype'),
         url('../FONTS/times-webfont.svg#timesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('../FONTS/travelingtypewriter-webfont.eot');
    src: url('../FONTS/travelingtypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FONTS/travelingtypewriter-webfont.woff') format('woff'),
         url('../FONTS/travelingtypewriter-webfont.ttf') format('truetype'),
         url('../FONTS/travelingtypewriter-webfont.svg#traveling__typewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*- Overall Page Formatting -*/
* {

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	cursor: url('../IMAGES/cursor.png'), auto;
}

html, body
{
	margin:0;
	padding:0;
	width:1280px;
	height:1024px;
	background-color:black;
	background-repeat:no-repeat;
	font-size:16pt;
	color:white;
	background-image:url('../IMAGES/Screen3_4.png');
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body.wholeMap {
	background-image:url('../IMAGES/Screen1.png');
}

h2 {
	font-size:22px;
	margin-bottom:0px;
	margin-top:0px;
	overflow:visible;
	font-family: 'times';
}

p {
	margin-left:10px;
}



.hidden
{
	display:none;
}

.mapTitle {
	top:120px;
	left:-1280px;
	position:absolute;
	width:1280px;
	height:316px;
	z-index:3;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Bookmark.png');
	color:white;
	
}

.excerptTitle {
	position:absolute;
	top: 10px;
	left:0;
	width:1280px;
	height:100px;
	text-align:center;
	font-size:72px;
	color:#dbd4b6;
	text-shadow:1px 1px 10px black, -1px -1px 40px #636e5a, -1px -1px 60px #cdd6c5;
	opacity:0;
	font-family: 'times';
	overflow:visible;
}

.mapTitle h1 {
	font-size:4em;
	margin-left:200px;
	margin-top: 75px;
	color:white;
}

.btmDiv {
	top:850px;
	position:absolute;
	width:1280px;
	height:150px;
	z-index:3;
}

.backBttn {
	width:201px;
	height:81px;
	margin-top:33px;
	margin-left:25px;
	float:left;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/BackArrow.png');
	pointer-events:all;
	opacity:0;
}

.backBttn:active {
	background-image:url('../IMAGES/BackArrow_Touched.png');
}

.nextBttn {
	width:1280px;
	height:1024px;
	position:absolute;
	top:10px;
	left:10px;
	opacity:0;
	z-index:2;
	background-repeat:no-repeat;
}

.nextBttn.Superior {
	background-image:url('../IMAGES/Screen2Superior.png');
}

.nextBttn.Michigan {
	background-image:url('../IMAGES/Screen2Michigan.png');
}

.nextBttn.Huron {
	background-image:url('../IMAGES/Screen2Huron.png');
}

.nextBttn.Erie {
	background-image:url('../IMAGES/Screen2Erie.png');
}

.nextBttn.Ontario {
	background-image:url('../IMAGES/Screen2Ontario.png');
}


/* Lake Selectors on Map */
.mapBttn {
	width:240px;
	height:180px;
	position:absolute;
	z-index:3;
	background-color:transparent;
	opacity:0.75;
}

.mapBttn.Superior {
	top:120px;
	left:100px;
	width:500px;
	height:230px;
}

.mapBttn.Michigan {
	top:380px;
	left:330px;
	height:460px;
}

.mapBttn.Huron {
	top:380px;
	left:600px;
	width:330px;
	height:325px;
}

.mapBttn.Erie {
	top:725px;
	left:700px;
	height:150px;
	width:320px;
}

.mapBttn.Ontario {
	top:550px;
	left:955px;
	height:150px;
	width:260px;
}

.adaBttn {
	width:63px;
	height:67px;
	margin-top:80px;
	margin-right:30px;
	float:right;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Handicap.png');
	pointer-events:all;
}

.adaBttn:active {
	background-image:url('../IMAGES/Handicap_Touched.png');	
}


/* Report Details Screen */
.dateContainer {
	width:478px;
	height: 650px;
	position:absolute;
	top:225px;
	left:-460px;
	opacity:0;
	padding:0px;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/Ribbon7.png');
	overflow:visible;
	pointer-events:none;
	z-index:15;
}

.dates {
	color:#dbd4b6;
	margin-left:5px;
	pointer-events:none;
	padding-right:20px;
}

.dates.adaEnabled {
	color:white;
	background-color:black;
}

.reports {
	width:745px;
	height: 855px;
	position:absolute;
	top:150px;
	left: 475px;
	opacity:1;
	color:black;
}

.reports.adaEnabled {
	color:white;
	background-color:black;

}

.reports h2 {
	font-family:"times";
	margin-left:35px;
}

.reports.adaEnabled h2 {
	font-family:sans-serif;
}

.reports p {
	font-family: "typewriter";
	font-size:1.2em;
	padding-bottom:0px;
	padding-left:35px;
	padding-right:35px;
}

.reports.adaEnabled p {
	font-family:sans-serif;
}

.reports img {
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.reports.adaEnabled img {
	background-color:white;
}

.summary {
	text-shadow:3px 3px 4px black;
	font-family: "times";
	z-index:1;
	line-height:1em;
	margin-top:25px;
	margin-bottom:125px; /* 75 */
	pointer-events:all;
	overflow:visible;
}

.summary p {
	margin-top:5px;
	overflow:visible;
	z-index:1;
}

.summary.adaEnabled {
	font-family:sans-serif;
	color:white;
}

.summary.selected.adaEnabled {
	font-family:sans-serif;
	color:yellow;
}

.summary.selected {
	text-shadow:0px 0px 7px #636e5a, 3px 3px 4px black;
	color:#FFFAB5;
	pointer-events:all;
	overflow:visible;
}

.summary:last-child {
	margin-bottom:560px;
}

.summary:first-child {
	margin-top:00px;
}

.disableClick {
	pointer-events:none;
}

.gradientBG {
	width:440px;
	height:463px;
	position:absolute;
	top:420px;
	left:-454px;
	opacity:0;
	
	background: -moz-linear-gradient(top, rgba(127,127,127,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,127,127,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(127,127,127,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(127,127,127,0.8) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(127,127,127,0.8) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(127,127,127,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc7f7f7f', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

